<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" #editForm="ngForm">
      <h2>Criar ou editar um Empregado</h2>
      <div>
        <div class="form-group" [hidden]="!empregado.id">
          <label for="id">ID</label>
          <input type="text" class="form-control" id="id" name="id" [(ngModel)]="empregado.id" readonly />
        </div>
        <h2></h2>
        <div class="group">
          <input type="text" id="nomeEmpregado" name="nomeEmpregado" [(ngModel)]="empregado.nomeEmpregado" required
            minlength="3" maxlength="80">
          <div [hidden]="!(editForm.controls.nomeEmpregado?.dirty && editForm.controls.nomeEmpregado?.invalid)">
            <small class="form-text text-danger" [hidden]="!editForm.controls.nomeEmpregado?.errors?.required">
              Campo obrigatório.
            </small>
            <small class="ui error message"
              [hidden]="!(editForm.controls.nomeEmpregado?.dirty && editForm.controls.nomeEmpregado?.invalid)">
              Deve ter entre 10 e 80 caracteres.
            </small>
          </div> <span class="highlight"></span>
          <span class="bar"></span>
          <label for="nomeEmpregado">Nome do Empregado:</label>
        </div>
        <h2></h2>
        <div class="group">
          <input type="text" class="form-control" name="dataNascimento" id="field_dataNascimento"
            [(ngModel)]="empregado.dataNascimento" required minlength="10" maxlength="10" />
          <div [hidden]="!(editForm.controls.dataNascimento?.dirty && editForm.controls.dataNascimento?.invalid)">
            <small class="form-text text-danger" [hidden]="!editForm.controls.dataNascimento?.errors?.required">
              Obrigatório informar o nome do Empregado.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.controls.dataNascimento?.errors?.minlength">
              Data deve estar no formato AAAA-MM-DD.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.controls.dataNascimento?.errors?.maxlength">
              Data deve estar no formato AAAA-MM-DD.
            </small>
          </div> <span class="highlight"></span>
          <span class="bar"></span>
          <label for="field_dataNascimento">Data Nascimento:</label>
        </div>
        <h2></h2>
        <div class="group">
          <input type="text" class="form-control" name="cpf" id="field_cpf" [(ngModel)]="empregado.cpf" required
            minlength="11" maxlength="11" />
          <div [hidden]="!(editForm.controls.cpf?.dirty && editForm.controls.cpf?.invalid)">
            <small class="form-text text-danger" [hidden]="!editForm.controls.cpf?.errors?.required">
              CPF é obrigatório.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.controls.cpf?.errors?.minlength">
              Tamanho mímino 11.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.controls.cpf?.errors?.maxlength">
              Tamanho máximo 11.
            </small>
          </div> <span class="highlight"></span>
          <span class="bar"></span>
          <label for="field_cpf">CPF</label>
        </div>


        <h2></h2>
        <div class="group">
          <input type="text" class="form-control" name="dataAdmissao" id="field_dataAdmissao"
            [(ngModel)]="empregado.dataAdmissao" required minlength="10" maxlength="10" />
          <div [hidden]="!(editForm.controls.dataAdmissao?.dirty && editForm.controls.dataAdmissao?.invalid)">
            <small class="form-text text-danger" [hidden]="!editForm.controls.dataAdmissao?.errors?.required">
              Obrigatório informar a data de admissão.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.controls.dataAdmissao?.errors?.minlength">
              Data deve estar no formato AAAA-MM-DD.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.controls.dataAdmissao?.errors?.maxlength">
              Data deve estar no formato AAAA-MM-DD.
            </small>
          </div>
          <span class="highlight"></span>
          <span class="bar"></span>
          <label for="field_dataAdmissao">Data de Admissao:</label>
        </div>



        <h2></h2>
        <div class="group">
          <input type="text" class="form-control" name="dataDemissao" id="field_dataDemissao"
            [(ngModel)]="empregado.dataDemissao" />
          <span class="highlight"></span>
          <span class="bar"></span>
          <label for="field_dataDemissao">Data de Demissão:</label>
        </div>
        <h2></h2>
        <div class="group">
          <input type="text" class="form-control" name="dataObito" id="field_dataObito"
            [(ngModel)]="empregado.dataObito" />
          <span class="highlight"></span>
          <span class="bar"></span>
          <label for="field_dataObito">Data de Óbito:</label>
        </div>

        <h2></h2>
        <div class="select">
          <select class="select-text" name="departamento" [(ngModel)]="empregado.departamento" id="field_departamento"
            required>
            <option [ngValue]="null"></option>
            <option
              [ngValue]="departamentoOption.id === empregado.departamento?.id ? empregado.departamento : departamentoOption"
              *ngFor="let departamentoOption of departamentos; trackBy: trackDepartamentoById">
              {{departamentoOption.nomeDepartamento}}</option>
          </select>
          <div [hidden]="!(editForm.controls.departamento?.dirty && editForm.controls.departamento?.invalid)">
            <small class="form-text text-danger" [hidden]="!editForm.controls.departamento?.errors?.required">
              Selecione um Departamento obrigatoriamente.
            </small>
          </div>
          <span class="select-highlight"></span>
          <span class="select-bar"></span>
          <label class="select-label" for="field_departamento">Departamento:</label>
        </div>
        <h2></h2>
        <div class="group">
          <div class="select">
            <select class="select-text" name="municipioNascimento" [(ngModel)]="empregado.municipioNascimento"
              id="field_municipioNascimento" required>
              <option [ngValue]="null"></option>
              <option
                [ngValue]="municipioOption.id === empregado.municipioNascimento?.id ? empregado.municipioNascimento : municipioOption"
                *ngFor="let municipioOption of municipios; trackBy: trackMunicipioById">
                {{municipioOption.nomeMunicipio}}</option>
            </select>
            <div
              [hidden]="!(editForm.controls.municipioNascimento?.dirty && editForm.controls.municipioNascimento?.invalid)">
              <small class="form-text text-danger" [hidden]="!editForm.controls.municipioNascimento?.errors?.required">
                Selecione um Municipio obrigatoriamente.
              </small>
            </div>
            <span class="select-highlight"></span>
            <span class="select-bar"></span>
            <label class="select-label" for="field_municipioNascimento">Municipio Nascimento:</label>
          </div>
        </div>
        <h2></h2>
        <div class="group">
          <div class="select">
            <select class="select-text" name="municipioResidencial" [(ngModel)]="empregado.municipioResidencial"
              id="field_municipioResidencial" required>
              <option [ngValue]="null"></option>
              <option
                [ngValue]="municipioOption.id === empregado.municipioResidencial?.id ? empregado.municipioResidencial : municipioOption"
                *ngFor="let municipioOption of municipios; trackBy: trackMunicipioById">
                {{municipioOption.nomeMunicipio}}</option>
            </select>
            <div
              [hidden]="!(editForm.controls.municipioResidencial?.dirty && editForm.controls.municipioResidencial?.invalid)">
              <small class="form-text text-danger" [hidden]="!editForm.controls.municipioResidencial?.errors?.required">
                Selecione um Municipio Residencial obrigatoriamente.
              </small>
            </div>
            <span class="select-highlight"></span>
            <span class="select-bar"></span>
            <label class="select-label" for="field_municipioNascimento">Municipio Residencial:</label>
          </div>
        </div>

        <div class="buttons">
          <div [hidden]="editForm.form.invalid ">
            <button type="submit" class="button">Gravar</button>
          </div>
          <div [hidden]="!editForm.form.invalid ">
            <button disabled class="button disabled">Gravar</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>