<div class="container">
  <h2>Lista de Empregados</h2>

  <table class="rtable">
    <thead>
      <tr>
        <th class="hidden">Id</th>
        <th>Nome</th>
        <th>Departamento</th>

        <th>Editar</th>

        <th>Excluir</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let empregado of empregados">
        <td> {{empregado.id}}</td>
        <td>{{empregado.nomeEmpregado}}</td>
        <td>{{empregado.departamento.nomeDepartamento}}</td>

        <td><button type="submit" [routerLink]="['/empregado', empregado.id, 'edit']" class="btnedit">Editar</button>
        </td>
        <td><button class="btndel" (click)="deleteEmpregado(empregado)">Excluir</button></td>
      </tr>
    </tbody>
  </table>
</div>
