<div class="container">
    <h2>
      Gerenciamento de Municípios, Departamentos e Empregados
    </h2>
  <a routerLink="/municipios"> Listar Municipios</a>
  <a style="margin-left:10px" routerLink="/municipio/new">Novo Municipio</a>
  <br />
  <a routerLink="/departamentos"> Listar Departamentos</a>
  <a style="margin-left:10px" routerLink="/departamento/new">Novo Departamento</a>
  <br />
  <a routerLink="/empregados"> Listar Empregados</a>
  <a style="margin-left:10px" routerLink="/empregado/new">Novo Empregado</a>
  <br />
  <router-outlet></router-outlet>
</div>
